@media screen and (min-width: 105em) {
  .video-wrapper {
    width: 50%;
    float: left;
  }

  .signup {
    width: 50%;
    float: left;
    background: transparent;
  }

  .main-wrapper {
    padding: 10em 3em;
    //border-top: 3px solid darken($white, 30%);
    background: transparent url("/assets/bg-bottom.jpg") no-repeat center;
    background-size: cover;
  }
}
